<!--  -->

{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}
  {% translate "Sign Out" %}
{% endblock head_title %}

{% block inner %}
  <div class="max-w-md mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700">
    <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">
      {% translate "Sign Out" %}
    </h1>
    <p class="mt-4 text-gray-700 dark:text-gray-400">
      {% translate "Are you sure you want to sign out?" %}
    </p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
        <input type="hidden"
               name="{{ redirect_field_name }}"
               value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn bg-red-500 text-white mt-4 py-2 px-4 rounded-lg" type="submit">
        {% translate "Sign Out" %}
      </button>
    </form>
  </div>
{% endblock inner %}
