{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}




{% block head_title %}
  {% translate "Change Password" %}
{% endblock head_title %}

{% block inner %}
  <div class="max-w-md mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700">
    <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">
      {% translate "Change Password" %}
    </h1>
    <form method="post"
          action="{% url 'account_change_password' %}"
          class="password_change mt-4">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn bg-blue-500 text-white mt-4 py-2 px-4 rounded-lg" type="submit" name="action">
        {% translate "Change Password" %}
      </button>
    </form>
  </div>
{% endblock inner %}