{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  {% translate "Change Password" %}
{% endblock head_title %}
{% block inner %}
<div class="max-w-md mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700">
  <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">
    {% translate "Change Password" %}
  </h1>
  <p class="mt-4 text-gray-700 dark:text-gray-400">
    {% translate "Your password is now changed." %}
  </p>
</div>
{% endblock inner %}
