{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}
  {% translate "Verify Your E-mail Address" %}
{% endblock head_title %}
{% block inner %}
  <div class="max-w-md mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700">
    <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">
      {% translate "Verify Your E-mail Address" %}
    </h1>
    {% url 'account_email' as email_url %}
    <p class="mt-4 text-gray-700 dark:text-gray-400">
      {% blocktranslate %}This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that you verify ownership of your e-mail address. {% endblocktranslate %}
    </p>
    <p class="mt-4 text-gray-700 dark:text-gray-400">
      {% blocktranslate %}We have sent an e-mail to you for verification. Please click on the link inside this e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktranslate %}
    </p>
    <p class="mt-4 text-gray-700 dark:text-gray-400">
      {% blocktranslate %}<strong>Note:</strong> you can still <a href="{{ email_url }}" class="text-blue-500 hover:underline">change your e-mail address</a>.{% endblocktranslate %}
    </p>
  </div>
{% endblock inner %}
